<div class="container">

    <div class="container">
            <div class="">
                <div class="col-lg-10 mx-auto">
                    <h1>Buy A Ticket</h1>
                    <p class="lead">Each ticket is only 5 SCC. At current prices, that's ~$<span id="ticketPrice"></span>.</p>
                    <div id="divContainer" style="text-align:center;">
                      <div *ngFor="let item of allTickets | async">

                        <div>
                            <button type="button" class="btn btn-info" (click)="loadTicketsById(item.Number)">Tkt# {{item.Number}} <span>[{{item.Available}}]</span></button>
                
                        </div>
                
                    </div>
                      
                    </div>
                </div>
            </div>
        </div>
    
    </div>