@model List<LotteryMVC.Models.Ticket>
@{
    ViewData["Title"] = "CoinPay.CR Affiliate Game";
}

    <section id="about">
        <div class="container">
            <div class="">
                <div class="col-lg-10 mx-auto">
                    <h1>Buy A Ticket</h1>
                    <p class="lead">Each ticket is only 5 SCC. At current prices, that's ~$<span id="ticketPrice"></span>.</p>
                    <div id="divContainer" style="text-align:center;">
                        @foreach (var item in Model)
                        {
                            if (item.IsLocked == false)
                            {
                                string c = (item.Number < 10) ? "0" : "";
                                <a href="@Url.Action("BuyTicket",new { number=item.Number})" class="btn btn-primary m-2">Tkt# @(c+ item.Number) <span>[@item.Available]</span></a>

                            }

                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
